/* CSS propio, estilos para la página que devuelve la imagen procesada*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  